site_name: SCOPD SIEM
theme:
  name: material
  logo: assets/logo.png
  favicon: assets/logo.png
  features:
    - content.code.copy

nav:
  - Integrations: index.md
  - Features: features.md
  - XDR: xdr.md

plugins:
  - search
  - macros

markdown_extensions:
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.inlinehilite
